@media (max-width: 678px) {
  body {
    background-size: 1200px auto;
  }
}

#animate_btn_0 {
  position: relative;
  overflow: hidden;
}

#animate_btn_0::after {
  animation: shine 3s ease-in-out infinite;
  animation-fill-mode: forwards;
  content: '';
  position: absolute;
  top: -80%;
  left: -200%;
  width: 150%;
  height: 500%;
  opacity: 0;
  transform: rotate(-10deg);
  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 1) 92%,
    rgba(255, 255, 255, 0) 100%
  );
}

@keyframes shine {
  10% {
    opacity: 1;
    top: -30%;
    left: -200%;
    transition-property: left, top, opacity;
    transition-duration: 0.7s, 0.7s, 0.15s;
    transition-timing-function: ease;
  }

  100% {
    opacity: 0;
    top: -30%;
    left: 100%;
    transition-property: left, top, opacity;
  }
}

.con-head h1,
.con-head h2,
.con-head h3,
.con-head h4 {
  margin: 0px;
  text-align: center;
  padding: 5px;
}

.con-head-ln2 .con-head-line {
  padding-top: 5px;
  width: 200px;
  display: flex;
  margin: auto;
  color: #000;
  font-weight: 600;
}

.con-head-ln2 .con-head-line hr {
  width: 40px;
  border: 0px solid #000;
  background-color: #fff;
  height: 1px;
}

.con-head-ln2 {
  background-color: #fff;
  color: #000;
  text-align: center;
}

.con-head-ln2 img {
  height: 90px;
}

.con-head-ln2 .imgflg {
  height: 20px;
  margin-bottom: -4px;
}

.imgflg {
  margin-left: 5px;
}

.con-body-pad {
  max-width: 800px;
  margin: 0px auto;
}

@media (max-width: 678px) {
  .con-head-ln2 img {
    height: 60px;
  }
}

#product-img {
  width: 300px;
  height: auto;
}

.con-body-ln1 {
  display: flex;
  flex-direction: row-reverse;
  padding: 10px 0px;
}

.con-body-ln1-inn2 p {
  margin: 0px;
  padding: 0px;
  font-size: 18px;
  color: #303030;
}

.con-body-ln1-inn2 p:nth-of-type(1) b:nth-of-type(1) {
  font-size: 21px;
  line-height: 1.5;
  color: #242424;
}

.con-body-ln1-inn2 b {
  color: #242424;
}

.con-body-ln1-inn2 span {
  color: #eb0000;
}

.con-body img {
  max-width: 170px;
  margin: 0px auto;
  padding: 0px 20px;
}

.con-body-ln2 {
  text-align: center;
}

@media (max-width: 678px) {
  .con-body {
    margin: 35px 25px;
    padding: 15px;
  }
  .con-body-ln1 {
    display: block;
    padding: 10px 0px;
  }
  .con-body-ln1-inn1 {
    text-align: center;
  }
  .con-body-ln1-inn2 {
    padding: 10px 0px;
  }
  .con-body-ln1-inn2 p {
    font-size: 15px;
  }
  .con-body-ln1-inn2 p:nth-of-type(1) b:nth-of-type(1) {
    font-size: 17px;
  }
  .con-head-ln2 img:first-child {
    height: 50px;
  }
  .con-head-ln2 h3 {
    font-size: 14px;
  }
}

.con-body-question .inn-q {
  display: none;
}

.con-body-question h2 {
  font-size: 18px;
  text-align: center;
  font-weight: 400;
  color: #494949;
}

.con-body-question b {
  color: #222222;
}

.con-body-question .inn-question {
  text-align: center;
}

.inn-q-verif-content {
  text-align: center;
}
.inn-q-verif-content img {
  max-width: 100px;
  margin: auto;
}

.hidden {
  display: none;
}

.con-body-ln3 h2 {
  padding: 0px;
  margin: 0px;
  text-align: start;
  font-size: 21px;
}
.body-ln3-carret {
  text-align: center;
}

.con-prize {
  margin: 10px;
  background-color: #fff;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0px 0px 2px 2px #d1d1d1;
  /* background-image: url('./banner.jpg');
    background-size: cover; */
}

.con-prize .con-prize-outter {
  padding: 10px;
  border: 2px dashed #f10000;
  border-radius: 5px;
  display: flex;
  background-color: #f7f7f7;
}

.con-prize .con-prize-outter-out {
  padding: 10px;
  border: 2px dashed #494949;
  border-radius: 5px;
  display: flex;
  opacity: 0.4;
  background-color: #f7f7f7;
}

.con-prize .con-prize-ln1,
.con-prize .con-prize-ln2 {
  padding: 10px;
}

.con-prize .con-prize-ln1 {
  width: 40%;
  text-align: center;
  border: 1px solid #e0e0e0;
  background-color: #eeeeee;
  box-shadow: 0px 0px 2px #ffffff;
}

.con-prize .con-prize-ln1 img {
  max-width: 200px;
  padding: 20px 0px;
}

.con-prize .con-prize-ln2 {
  padding-left: 0px !important;
  padding-bottom: 0px !important;
  width: 60%;
}

.con-prize .con-prize-ln2 h2 {
  padding: 0px;
  margin: 0px;
  background-color: #f0f0f0;
  border-bottom: 2px solid #8f8f8f;
}

.con-prize .con-prize-ln2 .prize-ln2-desc {
  padding: 0px 0px 0px 15px;
  font-size: 15px;
  font-style: italic;
  text-indent: 20px;
  color: #494949;
}

.con-prize .con-prize-ln2 .prize-ln2-amount,
.con-prize .con-prize-ln2 .prize-ln2-stock,
.con-prize .con-prize-ln2 .prize-ln2-pfs {
  margin: 0px;
  padding: 0px 0px 0px 10px;
}

.con-prize .con-prize-ln2 .prize-ln2-amount del {
  color: #eb0000;
}

.con-prize .con-prize-ln2 .prize-ln2-amount {
  display: flex;
  align-items: center;
}

.con-prize .con-prize-ln2 .prize-ln2-zero1 {
  padding-right: 10px;
}

.con-prize .con-prize-ln2 .prize-ln2-zero2 {
  font-size: 20px;
  font-weight: 600;
  color: #008000;
}

.con-prize .con-prize-ln2 .prize-ln2-stock b {
  color: #eb0000;
}

.con-prize .con-prize-ln2 .prize-ln2-pfs {
  color: #eb0000;
  font-weight: 600;
  font-size: 18px;
}

.con-prize .prize-ln2-btn {
  text-align: center;
}

.con-prize .con-prize-button-dis {
  font-size: 18px;
  font-weight: 600;
  background-color: #464646;
  color: #fff;
  text-align: center;
  padding: 0.6rem;
  margin: 10px -10px 0px 10px;
  width: 80%;
  border: 1px solid #464646;
  border-radius: 3px;
  cursor: not-allowed;
  transition: transform 0.5s;
}

@media (max-width: 678px) {
  .con-prize {
    margin: 25px 25px;
    padding: 10px;
  }
  .con-prize .con-prize-outter {
    display: block;
  }
  .con-prize .con-prize-outter-out {
    display: block;
  }
  .con-prize .con-prize-ln1,
  .con-prize .con-prize-ln2 {
    width: 100%;
    padding: 10px 0px;
  }
  .con-prize .con-prize-ln1 img {
    max-width: 200px;
    padding: 0px;
  }
}

.con-nothing {
  height: 300px;
}

/*    COMMENT SECTION    */

.con-comment {
  margin: 10px;
  background-color: #fff;
  padding: 15px;
  border-radius: 3px;
  box-shadow: 0px 0px 2px 2px #d1d1d1;
  /* background-image: url('./banner.jpg');
    background-size: cover; */
}

.comm-div:first-child {
  padding: 0px 0px 15px 0px;
}

.comm-div {
  border-top: 1px dashed #d8d8d8;
  padding: 15px 0px;
  display: flex;
}

.comm-div:first-child {
  border-top: 0px dashed #d8d8d8;
}

.comm-image img {
  height: 100px;
}

.comm-desc {
  padding-left: 15px;
  width: 100%;
}

.comm-desc:first-child {
  padding: 0;
}

.comm-name {
  font-size: 18px;
  font-weight: 600;
  color: #008eb1;
}

.comm-title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.comm-title span:first-child {
  padding: 0px;
  transform: translate(0px, 10px);
  font-size: 18px;
  font-weight: 600;
  color: #363636;
}

.comm-desc .comm-name,
.comm-desc .comm-text {
  padding-bottom: 15px;
}

.comm-text {
  text-align: justify;
  color: #363636;
}

.comm-text img {
  height: 200px;
  padding-top: 10px;
}

.comm-box textarea {
  width: 99.5%;
  border: 1px solid #8a8a8a;
  border-radius: 3px;
}

.comm-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.comm-footer div:first-of-type {
  color: #8a8a8a;
}

.comm-footer .comm-footer-datelike {
  display: flex;
}

.comm-footer span {
  padding-right: 15px;
  padding-left: 10px;
  font-size: 12px;
  font-weight: 600;
}

.comm-footer a {
  color: #008eb1;
  font-weight: 600;
  margin-left: 10px;
  text-decoration: none;
}

@media (max-width: 678px) {
  .con-comment {
    margin: 35px 25px;
    padding: 15px;
  }
  .comm-image img {
    height: 60px;
  }
  .comm-name {
    font-size: 14px;
  }
  .comm-text {
    font-size: 13px;
  }
  .comm-text img {
    height: 120px;
    padding-top: 5px;
  }
  .comm-desc .comm-name,
  .comm-desc .comm-text {
    padding-bottom: 9px;
  }
  .comm-footer .comm-footer-datelike {
    display: block;
  }
  .comm-footer span {
    font-size: 11px;
    padding-right: 7px;
    padding-left: 5px;
  }
  .comm-footer a {
    font-size: 12px;
  }
  .comm-desc {
    padding-left: 9px;
  }
  .comm-title span:first-child {
    font-size: 14px;
  }
  .comm-title button {
    font-size: 13px;
    padding: 5px 10px;
  }
}

/*    FOO SECTION    */
.footer-content {
  text-align: center;
}

.copyright {
  font-size: 18px;
  padding: 0px;
  margin: 10px;
}

.claim {
  font-size: 12px;
  color: #797979;
}

@media (max-width: 678px) {
  .con-footer {
    margin: 0px;
    border-radius: 0px;
  }
}

/*    BAR OFFER SECTION    */
.offer_expires {
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  color: #fff;
}

.offer_expires #time {
  font-size: 1.2em;
  color: #fff;
}

.con-time-block {
  background-color: #fff;
  padding: 1px 4px;
  border-radius: 5px;
  color: rgb(255, 0, 0);
}

/*    MODAL SECTION    */

.mod-con {
  width: 100%;
  height: 160%;
  background-color: #0000008f;
  position: fixed;
  top: 0;
  text-align: center;
  overflow: hidden;
}

.mod-con-bg {
  animation: opacity-bg 1s ease-in-out;
}

@keyframes opacity-bg {
  0% {
    background-color: #00000000;
  }
  100% {
    background-color: #0000008f;
  }
}

.mod-con-bg-rv {
  animation: opacity-bgrv 1s ease-in-out;
}

@keyframes opacity-bgrv {
  0% {
    background-color: #0000008f;
  }
  100% {
    background-color: #00000000;
  }
}

.modal {
  text-align: center;
  max-width: 600px;
  margin: 100px auto;
  padding-top: 25px;
  border-radius: 5px 5px 5px 5px;
  background: #fff;
  background-repeat: no-repeat;
  background-position: left;
  background-size: 170px;
  font-size: 16px;
  color: #3b3b3b;
}

.modal .btn-close {
  display: flex;
  padding: 0px 30px 0px 10px;
  margin-top: -15px;
  justify-content: space-between;
  align-items: center;
}

.modal .btn-close h2 {
  color: #f96302;
}

#btn-close {
  color: #b6b6b6;
  cursor: pointer;
  border: 0px;
  background-color: #fff;
}

#btn-close:hover {
  color: #ff4444;
}

.mod-con-inn {
  animation: move-con 1s ease-in-out;
}

@keyframes move-con {
  0% {
    opacity: 0;
    transform: translate(0px, -200px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

.mod-con-inn-rv {
  animation: move-conrv 1s ease-in-out;
}

@keyframes move-conrv {
  0% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
  100% {
    opacity: 0;
    transform: translate(0px, -200px);
  }
}

@media (max-width: 768px) {
  .modal {
    max-width: 95%;
  }
}

.modal h2,
.modal h3,
.modal h4,
.modal p {
  padding: 0;
  margin: 0;
}

.modal span {
  color: #303030;
  font-weight: 600;
}

.modal .prize-desc {
  color: #000;
  padding-left: 10px;
}

.modal-head,
.modal-body {
  padding: 10px 25px 10px 10px;
  text-align: start;
}

.modal-body img {
  max-width: 160px;
}

.modal-body-con {
  width: 100%;
  display: flex;
  padding-bottom: 3px;
  border-bottom: 1px solid #efefef;
}

.modal-body-left {
  text-align: end;
  width: 50%;
}

.modal-body-right {
  text-align: start;
  width: 50%;
}

@media (max-width: 768px) {
  @media (max-width: 768px) {
    .modal {
      margin: 40px auto;
    }
  }
  @media (max-width: 310px) {
    .modal {
      margin: 10px auto;
    }
  }
}

.modal-head-pv2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-body ol li {
  padding-bottom: 5px;
}

.modal-foot {
  text-align: center;
  padding: 10px 25px;
  background-color: #333;
  border-radius: 0px 0px 5px 5px;
}
